<header>
<div class="cover">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light">
        <a href="/../../microblog/microblog1/posts/" class="navbar-brand">Microblog</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="/../../microblog/microblog1/users/search" class="nav-link">search</a></li>
          <li class="nav-item"><a href="/../../microblog/microblog1/users/mypage" class="nav-link">mypage</a></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/../../microblog/microblog1/users/logout" class="nav-link">logout</a></li>
       </ul>
      </nav>
    </div>
</div>
</header>
