
<h1>Welcome to Microblog</h1>
<p>please click below button to confirm</p>
<a href="http://localhost:8080/microblog/microblog1/users/activate/<?php echo h($value) ;?>"><button>activate account</button></a>
